<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <!-- start of persistence unit definition. Name can be anything, you will
    probably not need to use it. Transaction type must be JTA -->
  <persistence-unit name="MysqlPU" transaction-type="JTA">
    <provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
    <!-- This is a reference to the datasource that you defined in
        tomee.xml.  LocalDS refers to a database running on your own computer
        with the name of your datasource. Replace with BoltitDS to use
        your database on Boltit    -->
    <jta-data-source>LocalhostDS</jta-data-source>
    <!-- If you change this to true, you will have to list all
            your entity classes here. Don't! -->
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <!-- This property tells JPA what to do if there is a mismatch between
           our entity classes and the database. 
           schemaAction='dropDB,add' = The tables will be dropped and recreated
           schemaAction='add' = just add any missing tables -->
        <property name="openjpa.jdbc.SynchronizeMappings" 
                  value="buildSchema(foreignKeys=true,schemaAction='dropDB,add')"/>
        <property name="openjpa.jdbc.SchemaFactory" 
                  value="native(foreignKeys=true)" />
        <property name="openjpa.jdbc.MappingDefaults" 
                  value="ForeignKeyDeleteAction=restrict, JoinForeignKeyDeleteAction=restrict"/>
<!--
        <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
      <property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)"/> -->
      <property name="openjpa.jdbc.DBDictionary" value="mysql"/>
      <property name="openjpa.Log" value="DefaultLevel=WARN, Tool=INFO"/>
    </properties>
  </persistence-unit>
</persistence>
<!-- A warning: Sooner or later you will have to do something that requires
a change in the database. If you share a database within the group, you
can't just change the database. That will create problems for the rest of the
group. If you have a database running on your own computer, you can experiment
as much as you like, without disturbing the rest of the group. -->
