<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
  <description>This file is optional, and we don't need it (yet), so we
  don't use it. That is: It will be kept in the source directory, in case
  we will need it later, but it is not copied to the output by the
  build script.</description>
  <display-name>SLIT v0</display-name>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>uia.slit.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>